* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

.btn {
  background: #ffc107;
  color: #000;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.btn:hover {
  background: #ffca2c;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/************************header*******************************/
section.nav {
  position: relative;
}
header {
  background: #0d6efd;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

nav a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffc107;
}

div.nav_mobile {
  position: absolute;
  z-index: 100;
}

/*************************** Menu mobile*******************************/
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-toggle span {
  background: #fff;
  height: 3px;
  width: 25px;
  margin-bottom: 4px;
  border-radius: 3px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  nav {
    display: none;
  }

  div.nav_mobile.active {
    display: flex;
    flex-direction: column;
    background: #0d6efd;
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    text-align: center;
    animation: slideIn 0.5s ease forwards;
  }
  div.nav_mobile.active a {
    color: #fff;
    margin-left: 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: color 0.3s;
  }
  div.nav_mobile.active a:last-of-type {
    margin-bottom: 1rem;
  }
}

@keyframes slideIn {
  from {
    top: -100%;
  }
  to {
    top: 4rem;
  }
}

/********************************hero************************/
section#hero {
  padding: 6rem 2rem;
  max-width: 1600px;
  margin: auto;
  opacity: 0;
  transform: translateY(6rem);
  transition: all 0.7s ease-out;
}

section#hero.visible {
  opacity: 1;
  transform: translateY(4rem);
}

#hero {
  background: url("../ressources/images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero .content {
  position: relative;
  z-index: 2;
}

#hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease-out;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  animation: fadeInUp 1s ease-out;
}

@media (min-width: 768px) {
  #hero {
    background-size: cover;
  }
}
/*****************services***********************************/
section#services {
  padding: 6rem 1rem;
  max-width: 1600px;
  margin: auto;
  opacity: 0;
  transform: translateY(6rem);
  transition: all 0.7s ease-out;
}

section#services.visible {
  opacity: 1;
  transform: translateY(4rem);
}
#services {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-content: space-between;
}

.service {
  display: flex;
  flex-direction: column;
  width: 360px;

  background: #fff;

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.service .image-card {
  flex: 2;
}
.service .image-card img {
  width: -webkit-fill-available;
  border-radius: 10px 10px 0px 0px;
}
.service .content-card {
  flex: 1;
  padding: 2rem;
}

.service:hover {
  transform: translateY(-10px);
}

.service h3 {
  margin-bottom: 1rem;
  color: #0d6efd;
}
.service p {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .service {
    width: 98%;
  }
}

/********about***********************************/
section#about {
  padding: 6rem 2rem;
  max-width: 1600px;
  margin: auto;
  opacity: 0;
  transform: translateY(6rem);
  transition: all 0.7s ease-out;
}

section#about.visible {
  opacity: 1;
  transform: translateY(4rem);
}
#about {
  text-align: center;
}

#about p {
  max-width: 700px;
  margin: 1rem auto;
}
